doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tugas TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel ='stylesheet', type'text/styl', href='styles/main.styl')
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    
    script(src='build/jquery-2.1.4.min.js')

  body

    article
      
      section.first
        h2 Tugas Project TKPPL 2017
        p.bullet Disusun Oleh:
        ol.dibuat
          li Eka permadi (15.111.0164)
          li Benni Ardi Harahap (15.111.2963)
          li William Chaiyanda (15.111.0598)
          
    
      section.second
        h2.bullet Geografis Indonesia
        ol.list
          li Indonesia terletak membentang di garis katulistiwa 
          li Indonesia merupakan negara dengan pulau terbanyak di dunia
          li Indonesia di apit oleh dua benua besar
          li Indonesia di apit oleh dua samudra 
          img(src='images/gambar1.jpg')

      section.third
        h2.bullet Pentingnya sudut pandang
        ol
          li mengubah sudut pandang untuk mendapatkan hal baru
          li mengubah teknik dan pola berpikir kita
          li mengubah cara kita mengambil suatu keputusan
          li selalu mencoba untuk memposisikan diri terhadap orang lain
          
      section.fourth
        h2 Citra Diri
        p.bullet Citra Diri lebih cenderung kepada bagaimana anda melihat diri anda sendiri.
        ol
          li jangan memberikan alasan - alasan untuk menutupi kekurangan.
          li citra diri yang rendah dapat berakibat kemiskinan
          li jika anda tidak mendapatkan kehidupan yang sesuai dengan yang anda inginkan termasuk citra diri yang rendah
        
      section.fifth
        h2.bullet 4 jenis pekerjaan
        ol
          li Employee
          li Selfemployee
          li Business
          li Investment
      
      section#lingkup

        h2.bullet Lingkup Keputusan
        ul 
          li 
            span.glyphicon.glyphicon-envelope
              | Decision Making berdasarkan intuisi 
          li 
            span.glyphicon.glyphicon-envelope
              | Decision Making berdasarkan rasional
          li 
            span.glyphicon.glyphicon-envelope
              | Decision Making berdasarkan analisis keputusan

      section#tentangintuisi
        h4.bullet Pengambilan keputusan yang optimal adalah intuisi, artinya satu proses tak sadar yang diciptakan dari dalam pengalaman yang tersaring
        h5.bullet 8 kondisi yang menyebabkan seseorang menggunakan pengambilan keputusan
        div#list 
          ul
            li 
              span.glyphicon.glyphicon-chevron-right
                | Bila ada ketidakpastian dalam tingkat tinggi
            li 
              span.glyphicon.glyphicon-chevron-right
                | Bila hanya sedikit preseden untuk diikuti
            li 
              span.glyphicon.glyphicon-chevron-right
                | Bila variabel-variabel kurang dapat diramalkan secara ilmiah
            li 
              span.glyphicon.glyphicon-chevron-right
                | Bila ‘fakta’ terbatas
            li 
              span.glyphicon.glyphicon-chevron-right
                | Bila fakta tidak dengan jelas menunjukkan jalan untuk dituruti
            li 
              span.glyphicon.glyphicon-chevron-right
                | Bila data analisis kurang berguna
            li 
              span.glyphicon.glyphicon-chevron-right
                | Bila ada beberapa penyelesaian alternatif yang masuk akal untuk dipilih
            li 
              span.glyphicon.glyphicon-chevron-right
                | Bila waktu terbatas dan ada tekanan untuk segera diambil keputusan yang tepat

      section#tentangrasional
        h4.bullet Pengambilan keputusan yang optimal adalah rasional, artinya, membuat pilihan dengan memaksimalkan nilai yang konsisten dalam batas-batas tertentu
        h5.bullet enam langkah dalam model pengambilan keputusan rasional:
        div#list 
          ul
            li 
              span.glyphicon.glyphicon-chevron-right
                | Tetapkan masalah
            li 
              span.glyphicon.glyphicon-chevron-right
                | Identifikasi kriteria keputusan
            li 
              span.glyphicon.glyphicon-chevron-right
                | Alokasikan bobot pada kriteria
            li 
              span.glyphicon.glyphicon-chevron-right
                | Kembangkan alternatif
            li 
              span.glyphicon.glyphicon-chevron-right
                | Evaluasi alternatif
            li 
              span.glyphicon.glyphicon-chevron-right
                | Pilih alternatif terbaik

      section#tentanganalisis
        h4.bullet Pengambilan keputusan yang optimal adalah analitik, artinya, membuat pilihan dengan menggunakan analisis ataupun fakta yang ada
        br
        h5.bullet Pembuatan keputusan ini merupakan keputusan yang paling baik dan menyakinkan sehingga tidak bisa dibantah karena berdasarkan fakta-fakta dan data-data yang ada.
        br
        h5.bullet Adapun fakta-fakta tersebut harus :
        div#list 
          ul
            li 
              span.glyphicon.glyphicon-chevron-right
                | Dievaluasi dengan teliti
            li 
              span.glyphicon.glyphicon-chevron-right
                | Dijabarkan dengan hati-hati
            li 
              span.glyphicon.glyphicon-chevron-right
                | Diselidiki dengan cermat dan tepat

      section#proses
        h1.bullet Decision Making Process
        img.img-circle(src='images/Picture1.png', , width='360', height='280')
      section#proses1
        h1.bullet Define Your Problem
        img.img-circle(src='images/Picture2.png', , width='360', height='280')
      section#proses2
        h1.bullet Gather Info & Resources
        img.img-circle(src='images/Picture3.png', , width='360', height='280')
      section#proses3
        h1.bullet List Options
        img.img-circle(src='images/Picture4.png', , width='360', height='280')
      section#proses4
        h1.bullet Weigh & Compare Options
        img.img-circle(src='images/Picture5.png', , width='360', height='250')
      section#proses5
        h1.bullet Make a Decision
        img.img-circle(src='images/Picture6.png', , width='360', height='280')
      section#proses6
        h1.bullet Make a Plan to Reach your Goal
        img.img-circle(src='images/Picture7.png', , width='360', height='280')
      section#proses7
        h1.bullet Evaluate the Decision
        img.img-circle(src='images/Picture8.png', , width='360', height='280')

      section
        h1 Keputusan yang <div class=red>SALAH

      section
        h2.bullet Daniel Bernoulli 1783
        
        img(src='/images/gambarkc1.jpg').bullet

        
      section
        h2.bullet Rumus AJAIB
        img(src='/images/gambarkc2.jpg').bullet
        h3.bullet Nilai Harapan = peluang keuntungan dikali nilai keuntungan

      section
        h2.bullet Contoh Perumusan
        h3.bullet 0.5 * 10$ = 5$
        h3.bullet 5$ > 4$
        
      section.peluang
        h2.bullet Error Pada Peluang
        h3.bullet Anjing Vs Babi
        img(src = '/images/gambarkc3.jpg').bullet
        
      section.peluang
        h2.bullet Error Pada Nilai
        h3.bullet Past win over Possibility
        h3.bullet Tiket Pesawat 2000$, menjadi 1600$
        h3.bullet Tiket pesawat 2000$, menjadi 700$, lalu menjadi 1500$
        h3.bullet Tiket nonton 20$ dan 20$
        
      section.peluang
        h2.bullet Error Pada Nilai
        h3.bullet Possibility win over Past
        h3.bullet Chitato indomie Goreng & Cokelat vs Chitato Indomie Goreng vs burger
        img(src='/images/gambarkc4.jpg').bullet
        
      section#register
            h2.bullet Participate in This Game !!!
            table
                tr
                    td
                        b Player 1
                    td
                        input#p1(type='text', maxlength=10)
                tr
                    td
                        b Player 2
                    td
                        input#p2(type='text', maxlength=10)
                tr
                    td
                        b Player 3
                    td
                        input#p3(type='text', maxlength=10)
                tr
                    td
                        b Player 4
                    td
                        input#p4(type='text', maxlength=10)
                tr
                    td(colspan='2')
                        input#Register(type='submit', value='Daftar')
            h5#playGames Register, Register, Register !!!
        section#stageOne
            br
            h2#header.bullet Stage 1
            .containerdc
                .col-6s
                    ul
                        li
                            table.tbl
                                tr
                                    td(colspan=2)#title1
                                tr
                                    td Cost
                                    td#Cost1
                .col-6s
                     ul
                        li
                            table.tbl
                                tr
                                    td(colspan=2)#title2
                                tr
                                    td Cost
                                    td#Cost2
            .containerdc
                ul
                    li
                        table.data
                            tr.bg-successs
                                td Participant
                                td#text1
                                td#text2
                            - for(var i = 0; i < 5; i++)
                                tr#looping1
                                    td.bg-successs= i
                                    td(id="x#{i}")
                                    td(id="y#{i}")
                    li.containerdc
                        input#v11(type="text", placeholder='Player 1', maxlength='1')
                        input#v12(type="text", placeholder='Player 2', maxlength='1')
                        input#v13(type="text", placeholder='Player 3', maxlength='1')
                        input#v14(type="text", placeholder='Player 4', maxlength='1')
                    li.setValue
                        input#submit1(type="button", value="Submit")
        section#tempResult
            br
            h2#header.bullet Hasil Sementara
            ul
                li
                    table.containerdc#left1
                        tr
                            td Nama Produk
                            td#product1
                            td#product2
                        tr
                            td Jumlah Pemilih
                            td#count11
                            td#count12
                        tr
                            td Harga Produk
                            td#pricea1
                            td#priceb1
                        tr
                            td Profit
                            td#stg11
                            td#stg12
                li
                    table.containerdc#top1
                        tr
                            td Player
                            td#Player1
                            td#Player2
                            td#Player3
                            td#Player4
                        tr
                            td Pilihan
                            td#opt11
                            td#opt12
                            td#opt13
                            td#opt14
                        tr
                            td From
                            td#moneya11
                            td#moneya12
                            td#moneya13
                            td#moneya14
                        tr
                            td Become
                            td#moneyb11
                            td#moneyb12
                            td#moneyb13
                            td#moneyb14
                    
        section#stageTwo
            br
            h2#header.bullet Stage 2
            .containerdc
                .col-6s
                    ul
                        li
                            table.tbl
                                tr
                                    td(colspan=2)#title3
                                tr
                                    td Cost
                                    td#Cost3
                .col-6s
                     ul
                        li
                            table.tbl
                                tr
                                    td(colspan=2)#title4
                                tr
                                    td Cost
                                    td#Cost4
            .containerdc
                ul
                    li
                        table.data
                            tr.bg-successs
                                td Participant
                                td#text3
                                td#text4
                            - for(var i = 0; i < 5; i++)
                                tr#looping2
                                    td.bg-successs= i
                                    td(id="x#{i}")
                                    td(id="y#{i}")
                                
                    li.containerdc
                        input#v21(type="text", placeholder='Player 1', maxlength='1')
                        input#v22(type="text", placeholder='Player 2', maxlength='1')
                        input#v23(type="text", placeholder='Player 3', maxlength='1')
                        input#v24(type="text", placeholder='Player 4', maxlength='1')
                    li.setValue
                        input#submit2(type="submit")
        section#tempResult
            br
            h2#header.bullet Hasil Sementara
            ul
                li
                    table.containerdc#left2
                        tr
                            td Nama Produk
                            td#product3
                            td#product4
                        tr
                            td Jumlah Pemilih
                            td#count21
                            td#count22
                        tr
                            td Harga Produk
                            td#pricea2
                            td#priceb2
                        tr
                            td Profit
                            td#stg21
                            td#stg22
                li
                    table.containerdc#top2
                        tr
                            td Player
                            td#Player1
                            td#Player2
                            td#Player3
                            td#Player4
                        tr
                            td Pilihan
                            td#opt21
                            td#opt22
                            td#opt23
                            td#opt24
                        tr
                            td From
                            td#moneya21
                            td#moneya22
                            td#moneya23
                            td#moneya24
                        tr
                            td Become
                            td#moneyb21
                            td#moneyb22
                            td#moneyb23
                            td#moneyb24
        section#stageThree
            br
            h2#header.bullet Stage 3
            .containerdc
                .col-6s
                    ul
                        li
                            table.tbl
                                tr
                                    td(colspan=2)#title5
                                tr
                                    td Cost
                                    td#Cost5
                .col-6s
                     ul
                        li
                            table.tbl
                                tr
                                    td(colspan=2)#title6
                                tr
                                    td Cost
                                    td#Cost6
            .containerdc
                ul
                    li
                        table.data
                            tr.bg-successs
                                td Participant
                                td#text5
                                td#text6
                            - for(var i = 0; i < 5; i++)
                                tr#looping3
                                    td.bg-successs= i
                                    td(id="x#{i}")
                                    td(id="y#{i}")
                    li.containerdc
                        input#v31(type="text", placeholder='Player 1', maxlength='1')
                        input#v32(type="text", placeholder='Player 2', maxlength='1')
                        input#v33(type="text", placeholder='Player 3', maxlength='1')
                        input#v34(type="text", placeholder='Player 4', maxlength='1')
                    li.setValue
                        input#submit3(type="submit")
        section#tempResult
            br
            h2#header.bullet Hasil Sementara
            ul
                li
                    table.containerdc#left3
                        tr
                            td Nama Produk
                            td#product5
                            td#product6
                        tr
                            td Jumlah Pemilih
                            td#count31
                            td#count32
                        tr
                            td Harga Produk
                            td#pricea3
                            td#priceb3
                        tr
                            td Profit
                            td#stg31
                            td#stg32
                li
                    table.containerdc#top3
                        tr
                            td Player
                            td#Player1
                            td#Player2
                            td#Player3
                            td#Player4
                        tr
                            td Pilihan
                            td#opt31
                            td#opt32
                            td#opt33
                            td#opt34
                        tr
                            td From
                            td#moneya31
                            td#moneya32
                            td#moneya33
                            td#moneya34
                        tr
                            td Become
                            td#moneyb31
                            td#moneyb32
                            td#moneyb33
                            td#moneyb34
        section#stageFour
            br
            h2#header.bullet Stage 4
            .containerdc
                .col-6s
                    ul
                        li
                            table.tbl
                                tr
                                    td(colspan=2)#title7
                                tr
                                    td Cost
                                    td#Cost7
                .col-6s
                     ul
                        li
                            table.tbl
                                tr
                                    td(colspan=2)#title8
                                tr
                                    td Cost
                                    td#Cost8
            .containerdc
                ul
                    li
                        table.data
                            tr.bg-successs
                                td Participant
                                td#text7
                                td#text8
                            - for(var i = 0; i < 5; i++)
                                tr#looping4
                                    td.bg-successs= i
                                    td(id="x#{i}")
                                    td(id="y#{i}")
                    li.containerdc
                        input#v41(type="text", placeholder='Player 1', maxlength='1')
                        input#v42(type="text", placeholder='Player 2', maxlength='1')
                        input#v43(type="text", placeholder='Player 3', maxlength='1')
                        input#v44(type="text", placeholder='Player 4', maxlength='1')
                    li.setValue
                        input#submit4(type="submit")
        section#tempResult
            br
            h2#header.bullet Hasil Sementara
            ul
                li
                    table.containerdc#left4
                        tr
                            td Nama Produk
                            td#product7
                            td#product8
                        tr
                            td Jumlah Pemilih
                            td#count41
                            td#count42
                        tr
                            td Harga Produk
                            td#pricea4
                            td#priceb4
                        tr
                            td Profit
                            td#stg41
                            td#stg42
                li
                    table.containerdc#top4
                        tr
                            td Player
                            td#Player1
                            td#Player2
                            td#Player3
                            td#Player4
                        tr
                            td Pilihan
                            td#opt41
                            td#opt42
                            td#opt43
                            td#opt44
                        tr
                            td From
                            td#moneya41
                            td#moneya42
                            td#moneya43
                            td#moneya44
                        tr
                            td Become
                            td#moneyb41
                            td#moneyb42
                            td#moneyb43
                            td#moneyb44
        section#stageFive
            br
            h2#header.bullet Stage 5
            .containerdc
                .col-6s
                    ul
                        li
                            table.tbl
                                tr
                                    td(colspan=2)#title9
                                tr
                                    td Cost
                                    td#Cost9
                .col-6s
                     ul
                        li
                            table.tbl
                                tr
                                    td(colspan=2)#title10
                                tr
                                    td Cost
                                    td#Cost10
            .containerdc
                ul
                    li
                        table.data
                            tr.bg-successs
                                td Participant
                                td#text9
                                td#text10
                            - for(var i = 0; i < 5; i++)
                                tr#looping5
                                    td.bg-successs= i
                                    td(id="x#{i}")
                                    td(id="y#{i}")
                    li.containerdc
                        input#v51(type="text", placeholder='Player 1', maxlength='1')
                        input#v52(type="text", placeholder='Player 2', maxlength='1')
                        input#v53(type="text", placeholder='Player 3', maxlength='1')
                        input#v54(type="text", placeholder='Player 4', maxlength='1')
                    li.setValue
                        input#submit5(type="submit")
        section#tempResult
            br
            h2#header.bullet Hasil Sementara
            ul
                li
                    table.containerdc#left5
                        tr
                            td Nama Produk
                            td#product9
                            td#product10
                        tr
                            td Jumlah Pemilih
                            td#count51
                            td#count52
                        tr
                            td Harga Produk
                            td#pricea5
                            td#priceb5
                        tr
                            td Profit
                            td#stg51
                            td#stg52
                li
                    table.containerdc#top5
                        tr
                            td Player
                            td#Player1
                            td#Player2
                            td#Player3
                            td#Player4
                        tr
                            td Pilihan
                            td#opt51
                            td#opt52
                            td#opt53
                            td#opt54
                        tr
                            td From
                            td#moneya51
                            td#moneya52
                            td#moneya53
                            td#moneya54
                        tr
                            td Become
                            td#moneyb51
                            td#moneyb52
                            td#moneyb53
                            td#moneyb54
        section#fastResponse
            ul
                li
                    h3.bullet The fastest and the most appropriately
        section#fastResponse
            ul
                li
                    h2.bullet Bonus
        section#fastResponse
            ul
                li
                    h1.bullet Simple
        section#fastResponseQuestion
            ul
                li Anda adalah seorang manager yang membawahi divisi produksi.
                li Kapasitas dan produktifitas mesin menentukan produksi dan pada akhirnya sangat mempengaruhi laba perusahaan.
                li Sewaktu mesin tersebut mengalami kerusakan, Anda harus membuat keputusan dengan memilih salah satu dari empat solusi alternatif yang ada.
        section#fastResponseOption
            h6.bullet
            ul
                li
                    table
                        tr.bg-successs
                            td No
                            td Alternatif
                            td Waktu yang diperlukan
                            td Estimasi biaya
                            td Point-point yang menguntungkan
                            td Point-point yang tidak menguntungkan
                li
                    table
                        tr
                            td.bg-successs 1.
                            td Memperbaiki mesin
                            td 15 Hari
                            td 40 Juta
                            td.successs
                                table.inside
                                    tr
                                        td Pekerja sudah biasa memakai mesin yang lama.
                                    tr
                                        td Sudah terbukti.
                            td.dangers
                                table.inside
                                    tr
                                        td Mungkin segera rusak lagi.
                                    tr
                                        td Tidak dapat bekerja secepat mesin baru.
                li
                    table
                        tr
                            td.bg-successs 2.
                            td Diganti dengan mesin yang sudah diperbaharui
                            td 8 Hari
                            td 90 Juta
                            td.successs
                                table.inside
                                    tr
                                        td Seperti mesin yang lama.
                                    tr
                                        td Pelatihan tidak diperlukan.
                            td.dangers
                                table.inside
                                    tr
                                        td Mesin ini tidak dapat bertahan lama dibandingkan dengan mesin baru.
                                    tr
                                        td Tidak dapat bekerja secepat mesin baru.
                li
                    table
                        tr
                            td.bg-successs 3.
                            td Beli mesin baru dengan merek dan tipe yang sama
                            td 5 Hari
                            td 130 Juta
                            td.successs
                                table.inside
                                    tr
                                        td Seperti mesin yang lama.
                                    tr
                                        td Pelatihan tidak dibutuhkan.
                                    tr
                                        td Dapat bertahan lama.
                            td.dangers
                                table.inside
                                    tr
                                        td Relatif mahal.
                li
                    table
                        tr
                            td.bg-successs 4.
                            td Beli mesin baru yang paling canggih.
                            td 5 Hari
                            td 200 Juta
                            td.successs
                                table.inside
                                    tr
                                        td Mesin yang paling cepat.
                                    tr
                                        td Dapat bertahan lama.
                            td.dangers
                                table.inside
                                    tr
                                        td Sangat mahal.
                                    tr
                                        td Dibutuhkan pelatihan.
        section#manOfTheMatch
            br
            // tekan 1, 2, 3, atau 4 untuk menentukan man of the match
            // man of the match kita yang tentukan.
            h2#header Man of The Match
            h2#winner
    script(src='build/build.js')
